<html>
    <head>
        <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    </head>
    <h1>
        {{ .title }}
    </h1>
    <div class="card-group">
        {{ range .cards}}
            <div class="card" style="width: 200px;">
                <img class="card-img-top" src="{{ .Image }}" alt="картинка">
                <div class="card-body">
                    <h5 class="card-title">{{ .Title }}</h5>
                    <p class="card-text">{{ .Text }}</p>
                    <a class="btn btn-primary" id="click-card-{{ .ID }}" href="home/{{ .ID }}">{{ .Button_text }}</a>
                </div>
            </div>
        {{ end }}
    </div>
</html>