<html>
    <head>
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <div class="header">
        <h1> Заявки контроля маршрута БПЛА </h1>
        <h4>{{ .Name }}</h4>
    </div>
    <div style="display: flex;flex-direction: column;">
        <img src="data:image/jpg;base64, {{ .Image }}" class="card_image">
        <p>{{ .Text }}</p>
        <p class="region_line"><b>Статус района: {{ .Region_status}}</b></p>
        <p class="region_line"> Площадь: {{ .AreaKm}} км^2</p>
        <p class="region_line"> Население: {{ .Population }} чел.</p>
        <p class="region_line"> Глава управы: {{ .HeadName }}</p>
        <p class="region_line"> Email главы управы: {{ .HeadEmail }}</p>
        <p class="region_line"> Телефон главы управы: {{ .HeadPhone }}</p>
        <p class="region_line"> Средняя высота: {{ .AverageHeightM }}</p>
        <p class="region_line">Описание района: {{ .Details }}</p>
        <form method="POST" action="delete_region/{{ .Name }}" name="delete_region">
            <input type="hidden" name="card_title" id="card_title" value="{{ .Name }}">
            <input type="submit" class="button page_button" value="Сменить статус">
        </form>
        <a class="button page_button" href="..">Домой</a>
    </div>
    <div style="flex:1"></div>
    <footer>Copyright © 2023 Dmitriy Trifonov </footer>
</html>