<html>
    <head>
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <div class="header">
        <h1> Заявки контроля маршрута БПЛА </h1>
        <h4>{{ .Name }}</h4>
    </div>
    <div>
        <img src="data:image/jpg;base64, {{ .Image }}" class="card_image">
        <p>{{ .Text }}</p>
        <p class="region_line"> Площадь: {{ .AreaKm}} км^2</p>
        <p class="region_line"> Население: {{ .Population }} чел.</p>
        <p class="region_line"> Глава управы: {{ .HeadName }}</p>
        <p class="region_line"> Email главы управы: {{ .HeadEmail }}</p>
        <p class="region_line"> Телефон главы управы: {{ .HeadPhone }}</p>
        <p class="region_line"> Средняя высота: {{ .AverageHeightM }}</p>
        <p class="region_line">Описание района: {{ .Details }}</p>
        <a class="button" href="..">Домой</a>
    </div>
    <div style="flex:1"></div>
    <footer>Copyright © 2023 Dmitriy Trifonov </footer>
</html>