<html>
    <head>
        <link rel="stylesheet" href=" css/style.css">
    </head>
    <script src="js/library.js"></script>
    <script src="js/app.js"></script>
    <div class="header">
        <h1> Заявки контроля маршрута БПЛА </h1>
    </div>
    <div>
        <form method="GET" action="" name="search" style="display:flex;align-items: center;">
            <label for="region_name" style="float:left;margin-right: 10px;margin-left:10px">Введите название:</label>
            <input type="text" id="region_name" name="region_name" style="float:left;margin-right: 20px;" value="{{ .Search_text }}">
            <input type="submit" class="button" value="Поиск" style="cursor: pointer !important;">
        </form>
    </div>
    <div class="card_group">
        {{ range .regions}}
        <div class="card">
            <img class="card_image" src="data:image/jpg;base64, {{ .Image }}" alt="картинка">
            <h5 class="card_title">{{ .Name }}</h5>
            <button class="button card_button"  id="{{ .Name }}" onclick="sendRegionDeleteRequest(this.id)">Удалить</button>
            <a class="button card_button" href="{{ .Name }}">Подробнее</a>
        </div>
        {{ end }}
    </div>
    <div style="flex:1"></div>
    <footer>Copyright © 2023 Dmitriy Trifonov </footer>
</html>