<html>
    <head>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <h1>
        Результаты поиска:
    </h1>
    <div class="card_group">
        {{ range .cards}}
        <div class="card">
            <img class="card_image" src="{{ .Image }}" alt="картинка">
            <h5 class="card-title">{{ .Title }}</h5>
            <p class="card-text">{{ .Text }}</p>
            <a class="link_button" href="home/{{ .ID }}">Оставить заявку</a>
            <div style="margin-bottom: 10px;"></div>
        </div>
        {{ end }}
    </div>
    <div style="margin-bottom: 10px;"></div>
    <a class="link_button" href="../home">Вернуться на главную страницу</a>
</html>