<html>
    <head>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <h1>
        Результаты поиска:
    </h1>
    <div class="card_group" style="margin-bottom: 20px;">
        {{ range .cards}}
        <div class="card" style="width: 200px;">
            <img src="{{ .Image }}" alt="картинка">
            <h5 class="card-title">{{ .Title }}</h5>
            <p class="card-text">{{ .Text }}</p>
            <a class="link_button" href="home/{{ .ID }}">{{ .Button_text }}</a>
        </div>
        {{ end }}
    </div>
    <a class="link_button" href="../home"> Вернуться на главную страницу</a>
</html>